.cardPersonalizada{
    width: auto;
    height: auto;
    border: 2px #5C5B5A solid;
    padding: 10px;
    margin: 5px;
    background-color: white;
}
.img-camiseta {
    width: 180px;       /* Ancho fijo */
    height: 180px;      /* Alto fijo */
    object-fit: cover;  /* Recorta y centra sin deformar */
    border-radius: 8px;
    display: block;
    margin: auto;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.forum-regular {
    font-family: "Forum", serif;
    font-style: normal;
    color: black;
}
.titulos{
    font-family: "Forum", serif;
    font-style: normal;
    color: black;
    background-color:#008F8C;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px ;
}

/* Navbar */
.navbarPer{
    background-color:#023535;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Carrito */
.contenedorCarrito{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p{
    color: black;
}
.titulosCards{
    color: black;
}
.tituloProductos{
    font-family: "Forum", serif;
    font-style: normal;
    text-decoration: underline;
    color: black;
    background-color: #008F8C;
}
.btnFiltros{
    display: flex;
    justify-content: space-between;
    background-color:#008F8C;
    align-items: center;
}